* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: white;
}

main {
  padding: 1rem;
  text-align: center;
  font-size: x-large;
  margin-bottom: 0.1rem;
}

h1 {
  text-align: left;
  margin-left: 10px;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #426b1f;
}

nav ul {
  list-style: none;
  display: flex;
}

nav .home-li {
  margin-right: auto;
  font-weight: bolder;
  font-size: x-large;
}

nav .home-li a {
  padding: 10px;
  color: #426b1f;
}

nav li {
  display: flex;
}

nav a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  transition: #426b1f 150ms ease;
}

nav a:hover {
  background-color: #426b1f;
  color: white;
}

#backetli {
  background-color: #70b138;
  color: white;
}

/* Big Image with lefte and right arrow */

.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 0rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  transform: scaleY(1.03);
  margin-bottom: 100px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.3rem 0.7rem;
  height: inherit;
  width: 750px;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: e-resize;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* Main text block */
main {
  cursor: default;
  font-size: 40px;
}

/* Donate Box */
#box {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#market-left {
  height: 500px;
  width: 60%;
  border-radius: 10px;
  margin: 30px;
  border: 2px solid black;
  margin-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.375) -2px 1px 10px;
}

#market-left:hover{
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
  scale: 1.01;
  cursor: pointer;
  box-shadow: rgb(167, 167, 167) -6px 4px 10px ;
}
#market-right {
  margin-right: 40px;
  height: 500px;
  width: 30%;
  margin: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

#market_right{
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
  scale: 1.01;
  cursor: default;
  box-shadow: rgb(167, 167, 167) -6px 4px 10px ;
}

#information {
  height: 85%;
}

#information h2 {
  font-size: 40px;
  padding: 20px;
}


#button {
  padding-left: 50px;
}

/* market right image + hover  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.card {
  width: auto;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(10, 210, 10);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);


  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
  }

  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  p {
    inset: auto auto 80px 30px;
    padding: 10px;
  }

  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
  }

  &:hover p,
  &:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}

#information p{
  padding: 10px;
  font-size: 20px;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* Buttots below Main */
.p-button {
  padding: 10px 20px;
  background-color: #426b1f;
  border: none;
  border-radius: 5px;
  font-size: 25px;
}

.p-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.p-button:hover {
  background-color: #426b1f;
  color: white;
  scale: 1.02;
}

.p-button a:hover {
  color: #e0e0e0;
}
.button-container {
  margin-bottom: 30px;
}

/* Vision Block */
#vision_block {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  height: max-content;
  padding: 20px;
  
}
#vision_heading {
  text-align: center;
  text-decoration: underline;
  padding: 20px 0px;
  word-spacing: 2px;
}

#vision_text {
  text-align: center;
  word-spacing: 2px;
}
#vision_info {
  height: max-content ;
  min-height: 60vh;
  padding: 0px 100px;
  border: 2px solid black;
  padding: 0px 70px;
  font-size: 20px;
  border-radius: 20px;
  padding-bottom: 10px;
  width: 80%;
  margin: 30px;
}

#vision_photos {
  height: max-content ;
  border: 2px solid black;
  min-height: 60vh;
  padding: 0px 100px;
  font-size: 20px;
  border-radius: 20px;
  padding-bottom: 10px;
  width: 80%;
  margin: 30px;

}
#invi {
  width: 600px;
  height: auto;
  margin-left: 10px;
  border-radius: 20px;
}

/* Creators */
#creator_heading {
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
}

#creators {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#creator {
  margin: 0px 15px;
}

#creator:hover {
  text-shadow: black 2px 2px 10px;
}

#image {
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
}
#image img {
  border-radius: 15px;
  width: 280px;
  height: 380px;
}

#image:hover {
  box-shadow: black 0px 8px 5px;
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
  cursor: pointer;
}

.drop_img {
  transform: translateY(30px);
}

/* Footer */
footer {
  background-color: rgb(63, 63, 63);
  margin-top: 50px;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: larger;
  text-shadow: black 2px 2px 2px;
  height: 200px;
  margin-top: 30vh;
}

footer p {
  margin: 5px 0;
}

