* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x:hidden;
  background-color: #000030;
  background-image: url(../assets/background_image.avif);
  background-size: 100%;
  background-position: center;
}

/* NAVBAR */
nav {
  background-color: white;
  position: sticky;
  border-bottom: 1px solid #426b1f;
}

nav ul {
  list-style: none;
  display: flex;
}

nav .home-li {
  margin-right: auto;
  font-weight: bolder;
  font-size: x-large;
}

nav .home-li a {
  padding: 10px;
  color: #426b1f;
}

nav li {
  display: flex;
}

nav a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  transition: #426b1f 150ms ease;
}

nav a:hover {
  background-color: #426b1f;
  color: white;
}

/* FORM */
.form-container {
  background-color: #f9f9f9;
  border: 2px solid #426b1f;
  border-radius: 12px;
  padding: 2rem;
  width: 480px;
  max-width: 95%;
  margin: 60px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  transform: translateY(-40px);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #426b1f;
}

.input-group {
  margin-bottom: 0.9rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.3rem;
  color: #333;
  font-weight: bold;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 0.45rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 0.6rem;
  background-color: #426b1f;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: #365b19;
}
