* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #426b1f;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav .home-li {
    margin-right: auto;
    font-weight: bolder;
    font-size: x-large;
  }
  
  nav .home-li a {
    padding: 10px;
    color: #426b1f;
  }
  
  nav li {
    display: flex;
  }
  
  nav a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: #426b1f 150ms ease;
  }
  
  nav a:hover {
    background-color: #426b1f;
    color: white;
  }
  
  #backetli {
    background-color: #70b138;
    color: white;
  }
  