* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    border-bottom: 1px solid #426b1f;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  nav .home-li {
    margin-right: auto;
    font-weight: bolder;
    font-size: x-large;
  }
  
  nav .home-li a {
    padding: 10px;
    color: #426b1f;
  }
  
  nav li {
    display: flex;
  }
  
  nav a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: #426b1f 150ms ease;
  }
  
  nav a:hover {
    transition: 0.1s ea;
    background-color: #426b1f;
    color: white;
  }
  
  .success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.success-container h1 {
    font-size: 60px;
    color: #2e7d32;
    font-weight: bold;
}