* {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #426b1f;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .home-li {
  margin-right: 10%;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 10px;
}

nav ul span{
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav ul span label {
    cursor: pointer;
}
nav ul span input {
    width: 50vh;
    height: 25px;
}


nav .home-li a {
  padding: 10px;
  color: #426b1f;
}

nav li {
  display: flex;
}

nav a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  transition: #426b1f 150ms ease;
}

nav a:hover {
  background-color: #426b1f;
  color: white;
}

input{
  border-radius: 5px;
  padding-left: 10px;
  margin: 10px;
}

#backetli {
  background-color: #70b138;
  color: white;
}


/* end of nav  */


/* pre buit css  */
:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  align-content: center;
  overflow-x:hidden ;
  gap: var(--gap);
  font-size: 1rem;
  line-height: 1.5;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee img {
  display: grid;
  place-items: center;
  width: 230px !important;
  height: 290px !important;
  fill: var(--color-text);
  background-color:whitesmoke;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
}

.marquee img:hover{
  transition: 0.2s ease-in-out;
  box-shadow: black 0px 0px 10px 0px;
}


/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  max-width: 100vw;

}

/* Special offer */

main{
  height: 500px;
  width: auto;
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#left{
  width: 65%;
  border: 2px solid black;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

#top{
  width: 100%;
  height: 80%;
  font-size: bolder;
  font-size: 30px;
}

#head{
  font-weight: bolder;
}

#top #information{
  padding: 5px;
}

#bot{
  width: auto;
  height: 20%;
  display: flex;
  justify-content: start;
  margin-left: 30px;
}

#bot button{
  background-color: green;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#bot button a {
  text-decoration: none;
  color: white;
}

#bot button:hover{
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
}

#right{
  width: 30%;
  border: 2px solid black;
  border-radius: 10px;
}


/* Tractor Section */

#grids{
  display: flex;
  flex-direction: column;
}

#main_grid{
  height: 110vh;
  margin: 30px;
  width: auto;
}
#main_grid #header{
  display: flex;
  justify-content: center;
  text-align: center ;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 40px;
}
#main_grid #header h1:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.151) 0px 5px 2px;
}

#main_grid #header h1{
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  justify-content: center;
  cursor: pointer;
}

#grid{
  display: flex;
  justify-content: center;
}

#grid-item img{
  border: 2px solid black;
  height: 300px;
  width: 290px;
  border-radius: 10px;

}
#grid-item {
  display: grid;
  height: max-content;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 60px; /* Optional: Add some space between items */
}

#grid-item img:hover{
  transform: scale(1.1);
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.199) 0px 0px 10px;
}

/* Explore button */
#explore{
  display: flex;
  justify-content: center;
}

#explore button {
  padding: 5px;
  background-color: green;
  border-radius: 10px;
  height: 8vh;
  width: 20vh;
  margin-bottom: 40vh;

}

#explore button a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

#explore button:hover{
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.149) 1px 10px 10px;
}

footer{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 30vh;
  background-color: rgba(123, 123, 123, 0.878);
}

